In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Walvis Bay,NaN,2022-08-30 00:59:16,-22.9575,14.5053,52.09,93,0,5.75
1,1,Busselton,AU,2022-08-30 00:54:41,-33.6500,115.3333,54.05,70,12,5.46
2,2,San Quintin,MX,2022-08-30 00:59:17,30.4833,-115.9500,71.44,79,20,14.52
3,3,Champerico,GT,2022-08-30 00:59:17,14.3000,-91.9167,79.34,77,100,5.39
4,4,Bathsheba,BB,2022-08-30 00:59:17,13.2167,-59.5167,83.01,83,40,12.66

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# General syntax for creating a heatmap:

# 1. Assign the locations to an array of latitude and longitude pairs.
##locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
##temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
##fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
##heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
##fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
##fig

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Champerico,GT,2022-08-30 00:59:17,14.3000,-91.9167,79.34,77,100,5.39
4,4,Bathsheba,BB,2022-08-30 00:59:17,13.2167,-59.5167,83.01,83,40,12.66
8,8,Marmaris,TR,2022-08-30 00:59:18,36.8550,28.2742,78.12,71,0,3.11
12,12,Albany,US,2022-08-30 00:57:30,42.6001,-73.9662,82.45,64,0,6.35
15,15,Hilo,US,2022-08-30 00:59:20,19.7297,-155.0900,84.27,77,75,8.05
16,16,Jamestown,US,2022-08-30 00:58:05,42.0970,-79.2353,75.72,91,100,5.99
17,17,Wagar,SD,2022-08-30 00:59:21,16.1525,36.2032,87.31,45,51,7.11
18,18,Manggar,ID,2022-08-30 00:59:21,-2.8833,108.2667,81.39,78,100,10.31
19,19,Naze,JP,2022-08-30 00:54:24,28.3667,129.4833,86.92,75,52,9.08
21,21,Bethel,US,2022-08-30 00:59:22,41.3712,-73.4140,77.77,79,0,7.81

In [14]:
preferred_cities_df.count()

City_ID       189
City          189
Country       189
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3   Champerico      GT     79.34  14.3000  -91.9167
4    Bathsheba      BB     83.01  13.2167  -59.5167
8     Marmaris      TR     78.12  36.8550   28.2742
12      Albany      US     82.45  42.6001  -73.9662
15        Hilo      US     84.27  19.7297 -155.0900
16   Jamestown      US     75.72  42.0970  -79.2353
17       Wagar      SD     87.31  16.1525   36.2032
18     Manggar      ID     81.39  -2.8833  108.2667
19        Naze      JP     86.92  28.3667  129.4833
21      Bethel      US     77.77  41.3712  -73.4140

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Champerico,GT,79.34,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
4,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
8,Marmaris,TR,78.12,36.8550,28.2742,BLUE BAY PLATINUM HOTEL
12,Albany,US,82.45,42.6001,-73.9662,
15,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Jamestown,US,75.72,42.0970,-79.2353,Hampton Inn & Suites Jamestown
17,Wagar,SD,87.31,16.1525,36.2032,
18,Manggar,ID,81.39,-2.8833,108.2667,Guest Hotel
19,Naze,JP,86.92,28.3667,129.4833,Shishime Hotel
21,Bethel,US,77.77,41.3712,-73.4140,Courtyard by Marriott Danbury

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# General info box template
##info_box_template = """
##<dl>
##<dt>Name</dt><dd>{column1}</dd>
##<dt>Another name</dt><dd>{column2}</dd>
##</dl>
##"""

In [24]:
# Info box template for this task

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))