## Deliverable 2. Create a Customer Travel Destinations Map.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [35]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,72.77,74,6,23.94,clear sky
1,1,Churapcha,RU,62.0025,132.4325,42.58,85,100,13.76,light rain
2,2,Kapaa,US,22.0752,-159.3190,84.11,72,16,5.01,few clouds
3,3,Abu Zabad,SD,12.3500,29.2500,73.96,82,100,7.74,overcast clouds
4,4,Valparaiso,CL,-33.0393,-71.6273,57.00,91,100,11.50,overcast clouds

In [36]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 68
What is the maximum temperature you would like for your trip? 78

In [37]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,72.77,74,6,23.94,clear sky
3,3,Abu Zabad,SD,12.3500,29.2500,73.96,82,100,7.74,overcast clouds
11,11,Albany,US,42.6001,-73.9662,69.64,83,97,1.32,overcast clouds
13,13,Bengkulu,ID,-3.8004,102.2655,73.40,89,100,2.93,overcast clouds
17,17,Puerto Ayora,EC,-0.7393,-90.3518,68.56,94,100,5.99,overcast clouds
19,19,Ponta Do Sol,PT,32.6667,-17.1000,75.70,80,7,1.59,clear sky
20,20,Anzio,IT,41.4853,12.6179,77.31,87,97,10.89,overcast clouds
25,25,Caravelas,BR,-17.7125,-39.2481,69.33,71,100,7.92,overcast clouds
27,27,Zwedru,LR,6.0667,-8.1281,70.20,99,59,3.00,broken clouds
29,29,Camacha,PT,33.0833,-16.3333,69.22,83,20,9.22,few clouds

In [38]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                214
City                   214
Country                213
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Current Description    214
dtype: int64

In [39]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                213
City                   213
Country                213
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [40]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,72.77,clear sky,-23.1203,-134.9692,
3,Abu Zabad,SD,73.96,overcast clouds,12.3500,29.2500,
11,Albany,US,69.64,overcast clouds,42.6001,-73.9662,
13,Bengkulu,ID,73.40,overcast clouds,-3.8004,102.2655,
17,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,
19,Ponta Do Sol,PT,75.70,clear sky,32.6667,-17.1000,
20,Anzio,IT,77.31,overcast clouds,41.4853,12.6179,
25,Caravelas,BR,69.33,overcast clouds,-17.7125,-39.2481,
27,Zwedru,LR,70.20,broken clouds,6.0667,-8.1281,
29,Camacha,PT,69.22,few clouds,33.0833,-16.3333,

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,72.77,clear sky,-23.1203,-134.9692,People ThankYou
3,Abu Zabad,SD,73.96,overcast clouds,12.3500,29.2500,حامد محمد نور
11,Albany,US,69.64,overcast clouds,42.6001,-73.9662,
13,Bengkulu,ID,73.40,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
17,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Ponta Do Sol,PT,75.70,clear sky,32.6667,-17.1000,Hotel do Campo
20,Anzio,IT,77.31,overcast clouds,41.4853,12.6179,Hotel Lido Garda
25,Caravelas,BR,69.33,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
27,Zwedru,LR,70.20,broken clouds,6.0667,-8.1281,Elijah Worjloh
29,Camacha,PT,69.22,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa

In [49]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df.loc[(hotel_df["Hotel Name"] == "")] = np.nan
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,72.77,clear sky,-23.1203,-134.9692,People ThankYou
3,Abu Zabad,SD,73.96,overcast clouds,12.3500,29.2500,حامد محمد نور
13,Bengkulu,ID,73.40,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
17,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Ponta Do Sol,PT,75.70,clear sky,32.6667,-17.1000,Hotel do Campo
20,Anzio,IT,77.31,overcast clouds,41.4853,12.6179,Hotel Lido Garda
25,Caravelas,BR,69.33,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
27,Zwedru,LR,70.20,broken clouds,6.0667,-8.1281,Elijah Worjloh
29,Camacha,PT,69.22,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
30,Atuona,PF,76.80,light rain,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge

In [50]:
clean_hotel_df.count()

City                   200
Country                200
Max Temp               200
Current Description    200
Lat                    200
Lng                    200
Hotel Name             200
dtype: int64

In [51]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [55]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))